<div class="w-full h-[100px] bg-blue-700 text-white ">
    <div class="w-1/2 mx-auto sm:float-left sm:mx-0 ">
      <div class="w-full h-[100px]">
        <div class="inline-block w-32"><img class="w-full h-[100px]" src="/assets/logo/XBankLogo.png"/></div>
        <div class="inline-block w-1/2 bottom-[35%] relative  text-lg font-bold">XBANK FINANCIAL</div>
      </div>
    </div>
    <div class="hidden w-1/2 float-right text-center sm:block">
      <div class="w-full h-[100px]">
        <a class="h-24 top-1/2 relative mx-6 font-bold text-white" href="#">Personal</a>
        <a class="h-16 top-1/2 relative mx-6 font-bold text-white" href="#">Business</a>
        <a class="h-16 top-1/2 relative mx-6 font-bold text-white" href="#">Investing</a>
        <a class="h-16 top-1/2 relative mx-6 font-bold text-white" href="#">Contact</a>
        <a class="h-16 top-1/2 relative mx-6 font-bold text-white" href="#">About</a>
      </div>
    </div>
  </div>
  